# <b> <center> GQG Project </center> </b>

## 1. Data Ingestion

In [1]:
# Importing necessary libraries
import pandas as pd
import os

# Linking directory
os.chdir('/Users/mukundshrivas/ama_project/GQG Project/Project Data')

In [2]:
# Importing the data sets
cur_ref = pd.read_csv('asset_currency_reference.csv')
cur_rate = pd.read_csv('currency_rates.csv')
holdings = pd.read_csv('holdings_with_currency.csv')
asset_val = pd.read_csv('prices_with_currency.csv')

## 2. Data Cleaning and Validation

##### Making a function to quickly give all the key details about the data

In [3]:
def data_summary(df, name="DataFrame"):
    print("="*15, f"DATA SUMMARY: {name}", "="*15)
    print("\n")
    
    print("Data Sample")
    print(df.sample(5))
    print("="*40)
    
    print("Shape of DataFrame:", df.shape)
    print("="*40)
    
    print("Column Names:")
    print(df.columns.tolist())
    print("="*40)
    
    print("Data Types:")
    print(df.dtypes)
    print("="*40)
    
    print("Summary Statistics:")
    print(df.describe(include='all'))
    print("="*40)
    
    print("Info:")
    df.info()
    print("="*40)
    
    print("Null Values:")
    print(df.isnull().sum())
    print("="*40)
    
    print("Duplicacy:")
    print(df.duplicated().sum())

##### Checking Data Health and Cleaning for every data set

#### <b><i> a) asset_currency_reference.csv </i></b>

In [4]:
data_summary(cur_ref, name = 'asset_currency_reference.csv') # Checking asset_currency_reference.csv's status

=============== DATA SUMMARY: asset_currency_reference.csv ===============


Data Sample
       asset currency
23  Asset_24      USD
41  Asset_42      GBP
1    Asset_2      USD
11  Asset_12      USD
0    Asset_1      EUR
========================================
Shape of DataFrame: (50, 2)
========================================
Column Names:
['asset', 'currency']
========================================
Data Types:
asset       object
currency    object
dtype: object
========================================
Summary Statistics:
          asset currency
count        50       50
unique       50        8
top     Asset_1      USD
freq          1       24
========================================
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   asset     50 non-null     object
 1   currency  50 non-null     object
dtypes: object(2)
memory usage: 932.0+ bytes
========================================
Null Values:
asset       0
currency    0
dtype: int64
========================================
Duplicacy:
0

##### <i><b>Interpretation</b>: We can safely conclude that "asset_currency_reference.csv" data is healthy. </i>

#### <b><i> b) currency_rates.csv </i></b>

In [5]:
data_summary(cur_rate, name = 'currency_rates.csv') # Checking currency_rates.csv's status

=============== DATA SUMMARY: currency_rates.csv ===============


Data Sample
            date currency  rate_to_usd
888   2024-06-04      USD     1.000000
297   2024-02-21     EUR      1.070542
711   2024-05-02      SEK     0.095561
1004  2024-06-24      CAD     0.748072
525   2024-04-01      AUD     0.675681
========================================
Shape of DataFrame: (1061, 3)
========================================
Column Names:
['date', 'currency', 'rate_to_usd']
========================================
Data Types:
date            object
currency        object
rate_to_usd    float64
dtype: object
========================================
Summary Statistics:
              date currency  rate_to_usd
count         1061     1061  1051.000000
unique         217       28          NaN
top     2024-03-18      GBP          NaN
freq             9      132          NaN
mean           NaN      NaN     0.996272
std            NaN      NaN     4.676753
min            NaN      NaN    -1.000000
25%            NaN      NaN     0.096683
50%            NaN      NaN     1.000000
75%            NaN      NaN     1.087839
max            NaN      NaN   110.472644
========================================
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061 entries, 0 to 1060
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1061 non-null   object
 1   currency     1061 non-null   object
 2   rate_to_usd  1051 non-null   float64
dtypes: float64(1), object(2)
memory usage: 25.0+ KB
========================================
Null Values:
date            0
currency        0
rate_to_usd    10
dtype: int64
========================================
Duplicacy:
21

##### <i> <b>Interpretation </b>: "currency_rates.csv" is not healthy enough to operate with, given:
* The present null values
* Date is an object, instead of datetime for time series (Therefore, inconsistent formatting)
* An extant negative USD rate of a currency
* 28 distinct currencies instead of 8
* Extant 21 duplicate rows

</i>

##### Further exploring issues with the currency column

In [6]:
print(sorted(cur_rate['currency'].unique())) # Checking for all currencies present in the 'currency' column

['AUD', 'AUD ', 'CAD', 'CAD ', 'CHF', 'EUR', 'EUR ', 'GBP', 'JPY', 'JPY ', 'SEK', 'SEK ', 'USD', 'USD ', 'aud', 'aud ', 'cad', 'cad ', 'chf', 'chf ', 'eur', 'gbp ', 'jpy', 'jpy ', 'sek', 'sek ', 'usd', 'usd ']

##### <i><b> Interpretation: </b> A lot of typos and trailing spaces </i>
##### Cleaning prices_with_currency data

In [7]:
# Stripping away trailing spaces, and making all the characters in upper case
cur_rate['currency'] = cur_rate['currency'].str.strip().str.upper()
sorted(cur_rate['currency'].unique())

['AUD', 'CAD', 'CHF', 'EUR', 'GBP', 'JPY', 'SEK', 'USD']

In [8]:
# Dropping all rows with FX Rates below 0
cur_rate = cur_rate[cur_rate['rate_to_usd'] > 0]

# Forward-filling all NULL values
cur_rate = cur_rate.sort_values(by=['currency', 'date']) # Grouping data by Currency and Date
cur_rate['rate_to_usd'] = cur_rate.groupby('currency')['rate_to_usd'].ffill() # Forward-filling NULL values

# Dropping Duplicated Rows
cur_rate = cur_rate.drop_duplicates()

# Converting 'object' type data in 'date' column into datetime format
cur_rate['date'] = pd.to_datetime(cur_rate['date'], errors='coerce', format='mixed', dayfirst=True)
cur_rate = cur_rate.sort_values(by='date').reset_index(drop=True)

# Validating

data_summary(cur_rate, name = 'currency_rates.csv (Cleaned)')

=============== DATA SUMMARY: currency_rates.csv (Cleaned) ===============


Data Sample
          date currency  rate_to_usd
274 2024-02-19      AUD     0.664550
29  2024-01-04      AUD     0.670125
710 2024-05-07      SEK     0.093529
185 2024-02-01      GBP     1.242500
692 2024-05-02      USD     1.000000
========================================
Shape of DataFrame: (1025, 3)
========================================
Column Names:
['date', 'currency', 'rate_to_usd']
========================================
Data Types:
date           datetime64[ns]
currency               object
rate_to_usd           float64
dtype: object
========================================
Summary Statistics:
                                 date currency  rate_to_usd
count                            1025     1025  1025.000000
unique                            NaN        8          NaN
top                               NaN      GBP          NaN
freq                              NaN      129          NaN
mean    2024-04-01 08:06:05.268292608      NaN     1.000913
min               2024-01-01 00:00:00      NaN     0.006557
25%               2024-02-14 00:00:00      NaN     0.658735
50%               2024-04-01 00:00:00      NaN     1.000000
75%               2024-05-16 00:00:00      NaN     1.087999
max               2024-12-04 00:00:00      NaN   110.472644
std                               NaN      NaN     4.726564
========================================
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1025 non-null   datetime64[ns]
 1   currency     1025 non-null   object
 2   rate_to_usd  1025 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 24.2+ KB
========================================
Null Values:
date           0
currency       0
rate_to_usd    0
dtype: int64
========================================
Duplicacy:
0

#####  <i> <b>Interpretation:</b> We have successfully cleaned currency_rates.csv </i>

#### <b><i> c) holdings_with_currency.csv </i></b>

In [9]:
data_summary(holdings , name = 'holdings_with_currency.csv') # Checking holdings_with_currency.csv's status

=============== DATA SUMMARY: holdings_with_currency.csv ===============


Data Sample
             date     client     asset currency  quantity misc_col
17841  2024-06-20   Client_7  asset_14      USD     765.0      NaN
6470   2024-04-03   Client_3  Asset_18      USD     901.0      NaN
24710  2024-04-16  Client_10  Asset_12      USD     705.0      NaN
14654  2024-05-06   Client_6  Asset_34      USD     551.0      NaN
4895   2024-06-12   Client_2  Asset_37      SEK     363.0      NaN
========================================
Shape of DataFrame: (26265, 6)
========================================
Column Names:
['date', 'client', 'asset', 'currency', 'quantity', 'misc_col']
========================================
Data Types:
date         object
client       object
asset        object
currency     object
quantity    float64
misc_col     object
dtype: object
========================================
Summary Statistics:
              date    client     asset currency      quantity    misc_col
count        26265     26265     26265    26265  26003.000000         332
unique         519        50       250       32           NaN           1
top     2024-01-12  Client_4  Asset_33      USD           NaN  irrelevant
freq           204      2570       511    11960           NaN         332
mean           NaN       NaN       NaN      NaN    493.435296         NaN
std            NaN       NaN       NaN      NaN    293.755559         NaN
min            NaN       NaN       NaN      NaN    -99.000000         NaN
25%            NaN       NaN       NaN      NaN    239.000000         NaN
50%            NaN       NaN       NaN      NaN    494.000000         NaN
75%            NaN       NaN       NaN      NaN    749.000000         NaN
max            NaN       NaN       NaN      NaN    999.000000         NaN
========================================
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26265 entries, 0 to 26264
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      26265 non-null  object
 1   client    26265 non-null  object
 2   asset     26265 non-null  object
 3   currency  26265 non-null  object
 4   quantity  26003 non-null  float64
 5   misc_col  332 non-null    object
dtypes: float64(1), object(5)
memory usage: 1.2+ MB
========================================
Null Values:
date            0
client          0
asset           0
currency        0
quantity      262
misc_col    25933
dtype: int64
========================================
Duplicacy:
504

##### <i> <b>Interpretation </b>: "holdings_with_currency.csv" is not healthy enough to operate with, given:
* The present null values in quantity and misc_col  
* Date is an object, instead of datetime for time series (Therefore, inconsistent formatting) 
* An extant negative quantity 
* 32 distinct currencies instead of 8 
* 250 distinct assets instead of 50 
* Extant 504 duplicate rows 
</i>

##### Cleaning

In [10]:
# Converting dates to datetime format
holdings['date'] = pd.to_datetime(holdings['date'], errors='coerce', format='mixed', dayfirst=True)
holdings = holdings.sort_values(by='date').reset_index(drop=True)

# Removing the Negative values from quantity
holdings = holdings[holdings['quantity'] > 0]

# Dropping Duplicated Rows
holdings = holdings.drop_duplicates()

# 1) Pull out everything that isn’t 'irrelevant', then delete the column
mask = holdings['misc_col'].fillna('').str.strip().str.lower() != 'irrelevant'
holdings = holdings.loc[mask].drop(columns='misc_col')

# 2) Now it’s safe to drop any remaining NaNs across the rest of the DataFrame
holdings = holdings.dropna()

In [11]:
# Checking 'client', 'currency', and 'asset' column
print(sorted(holdings['client'].unique())) 
print(sorted(holdings['currency'].unique()))
print(sorted(holdings['asset'].unique()))

['CLIENT_1', 'CLIENT_1 ', 'CLIENT_10', 'CLIENT_10 ', 'CLIENT_2', 'CLIENT_2 ', 'CLIENT_3', 'CLIENT_3 ', 'CLIENT_4', 'CLIENT_4 ', 'CLIENT_5', 'CLIENT_5 ', 'CLIENT_6', 'CLIENT_6 ', 'CLIENT_7', 'CLIENT_7 ', 'CLIENT_8', 'CLIENT_8 ', 'CLIENT_9', 'CLIENT_9 ', 'Client_1', 'Client_10', 'Client_2', 'Client_3', 'Client_4', 'Client_5', 'Client_6', 'Client_7', 'Client_8', 'Client_9', 'client_1', 'client_1 ', 'client_10', 'client_10 ', 'client_2', 'client_2 ', 'client_3', 'client_3 ', 'client_4', 'client_4 ', 'client_5', 'client_5 ', 'client_6', 'client_6 ', 'client_7', 'client_7 ', 'client_8', 'client_8 ', 'client_9', 'client_9 ']
['AUD', 'AUD ', 'CAD', 'CAD ', 'CHF', 'CHF ', 'EUR', 'EUR ', 'GBP', 'GBP ', 'JPY', 'JPY ', 'SEK', 'SEK ', 'USD', 'USD ', 'aud', 'aud ', 'cad', 'cad ', 'chf', 'chf ', 'eur', 'eur ', 'gbp', 'gbp ', 'jpy', 'jpy ', 'sek', 'sek ', 'usd', 'usd ']
['ASSET_1', 'ASSET_1 ', 'ASSET_10', 'ASSET_10 ', 'ASSET_11', 'ASSET_11 ', 'ASSET_12', 'ASSET_12 ', 'ASSET_13', 'ASSET_13 ', 'ASSET_14', 'ASSET_14 ', 'ASSET_15', 'ASSET_15 ', 'ASSET_16', 'ASSET_16 ', 'ASSET_17', 'ASSET_17 ', 'ASSET_18', 'ASSET_18 ', 'ASSET_19', 'ASSET_19 ', 'ASSET_2', 'ASSET_2 ', 'ASSET_20', 'ASSET_20 ', 'ASSET_21', 'ASSET_21 ', 'ASSET_22', 'ASSET_22 ', 'ASSET_23', 'ASSET_23 ', 'ASSET_24', 'ASSET_24 ', 'ASSET_25', 'ASSET_25 ', 'ASSET_26', 'ASSET_26 ', 'ASSET_27', 'ASSET_27 ', 'ASSET_28', 'ASSET_28 ', 'ASSET_29', 'ASSET_29 ', 'ASSET_3', 'ASSET_3 ', 'ASSET_30', 'ASSET_30 ', 'ASSET_31', 'ASSET_31 ', 'ASSET_32', 'ASSET_32 ', 'ASSET_33', 'ASSET_33 ', 'ASSET_34', 'ASSET_34 ', 'ASSET_35', 'ASSET_35 ', 'ASSET_36', 'ASSET_36 ', 'ASSET_37', 'ASSET_37 ', 'ASSET_38', 'ASSET_38 ', 'ASSET_39', 'ASSET_39 ', 'ASSET_4', 'ASSET_4 ', 'ASSET_40', 'ASSET_40 ', 'ASSET_41', 'ASSET_41 ', 'ASSET_42', 'ASSET_42 ', 'ASSET_43', 'ASSET_43 ', 'ASSET_44', 'ASSET_44 ', 'ASSET_45', 'ASSET_45 ', 'ASSET_46', 'ASSET_46 ', 'ASSET_47', 'ASSET_47 ', 'ASSET_48', 'ASSET_48 ', 'ASSET_49', 'ASSET_49 ', 'ASSET_5', 'ASSET_5 ', 'ASSET_50', 'ASSET_50 ', 'ASSET_6', 'ASSET_6 ', 'ASSET_7', 'ASSET_7 ', 'ASSET_8', 'ASSET_8 ', 'ASSET_9', 'ASSET_9 ', 'Asset_1', 'Asset_10', 'Asset_11', 'Asset_12', 'Asset_13', 'Asset_14', 'Asset_15', 'Asset_16', 'Asset_17', 'Asset_18', 'Asset_19', 'Asset_2', 'Asset_20', 'Asset_21', 'Asset_22', 'Asset_23', 'Asset_24', 'Asset_25', 'Asset_26', 'Asset_27', 'Asset_28', 'Asset_29', 'Asset_3', 'Asset_30', 'Asset_31', 'Asset_32', 'Asset_33', 'Asset_34', 'Asset_35', 'Asset_36', 'Asset_37', 'Asset_38', 'Asset_39', 'Asset_4', 'Asset_40', 'Asset_41', 'Asset_42', 'Asset_43', 'Asset_44', 'Asset_45', 'Asset_46', 'Asset_47', 'Asset_48', 'Asset_49', 'Asset_5', 'Asset_50', 'Asset_6', 'Asset_7', 'Asset_8', 'Asset_9', 'asset_1', 'asset_1 ', 'asset_10', 'asset_10 ', 'asset_11', 'asset_11 ', 'asset_12', 'asset_12 ', 'asset_13', 'asset_13 ', 'asset_14', 'asset_14 ', 'asset_15', 'asset_15 ', 'asset_16', 'asset_16 ', 'asset_17', 'asset_17 ', 'asset_18', 'asset_18 ', 'asset_19', 'asset_19 ', 'asset_2', 'asset_2 ', 'asset_20', 'asset_20 ', 'asset_21', 'asset_21 ', 'asset_22', 'asset_22 ', 'asset_23', 'asset_23 ', 'asset_24', 'asset_24 ', 'asset_25', 'asset_25 ', 'asset_26', 'asset_26 ', 'asset_27', 'asset_27 ', 'asset_28', 'asset_28 ', 'asset_29', 'asset_29 ', 'asset_3', 'asset_3 ', 'asset_30', 'asset_30 ', 'asset_31', 'asset_31 ', 'asset_32', 'asset_32 ', 'asset_33', 'asset_33 ', 'asset_34', 'asset_34 ', 'asset_35', 'asset_35 ', 'asset_36', 'asset_36 ', 'asset_37', 'asset_37 ', 'asset_38', 'asset_38 ', 'asset_39', 'asset_39 ', 'asset_4', 'asset_4 ', 'asset_40', 'asset_40 ', 'asset_41', 'asset_41 ', 'asset_42', 'asset_42 ', 'asset_43', 'asset_43 ', 'asset_44', 'asset_44 ', 'asset_45', 'asset_45 ', 'asset_46', 'asset_46 ', 'asset_47', 'asset_47 ', 'asset_48', 'asset_48 ', 'asset_49', 'asset_49 ', 'asset_5', 'asset_5 ', 'asset_50', 'asset_50 ', 'asset_6', 'asset_6 ', 'asset_7', 'asset_7 ', 'asset_8', 'asset_8 ', 'asset_9', 'asset_9 ']

In [12]:
# Stripping away trailing spaces, and making all the characters in proper formatting from 'client' column
holdings['client'] = holdings['client'].str.strip().str.title()
holdings['asset'] = holdings['asset'].str.strip().str.title()
holdings['currency'] = holdings['currency'].str.strip().str.upper()

print("Number of Clients in the data:")
print(len(holdings['client'].unique()))
print("=="*10)
print("Number of assets:")
print(len(holdings['asset'].unique()))
print("=="*10)
print("Number of currencies")
print(len(holdings['currency'].unique()))

Number of Clients in the data:
10
====================
Number of assets:
50
====================
Number of currencies
8

In [13]:
data_summary(holdings, name = 'holdings_with_currency.csv (Cleaned)')

=============== DATA SUMMARY: holdings_with_currency.csv (Cleaned) ===============


Data Sample
            date    client     asset currency  quantity
16049 2024-04-19  Client_5  Asset_12      USD     789.0
26029 2024-06-28  Client_5   Asset_1      EUR     413.0
16019 2024-04-19  Client_2  Asset_12      USD     682.0
508   2024-01-03  Client_5  Asset_45      USD     468.0
18559 2024-05-08  Client_4  Asset_49      USD     393.0
========================================
Shape of DataFrame: (24659, 5)
========================================
Column Names:
['date', 'client', 'asset', 'currency', 'quantity']
========================================
Data Types:
date        datetime64[ns]
client              object
asset               object
currency            object
quantity           float64
dtype: object
========================================
Summary Statistics:
                                 date    client     asset currency  \
count                           24659     24659     24659    24659
unique                            NaN        10        50        8
top                               NaN  Client_4  Asset_33      USD
freq                              NaN      2552       531    11879
mean    2024-03-31 09:55:17.652783872       NaN       NaN      NaN
min               2024-01-01 00:00:00       NaN       NaN      NaN
25%               2024-02-14 00:00:00       NaN       NaN      NaN
50%               2024-04-01 00:00:00       NaN       NaN      NaN
75%               2024-05-16 00:00:00       NaN       NaN      NaN
max               2024-12-06 00:00:00       NaN       NaN      NaN
std                               NaN       NaN       NaN      NaN

            quantity
count   24659.000000
unique           NaN
top              NaN
freq             NaN
mean      503.892656
min        10.000000
25%       254.000000
50%       504.000000
75%       754.000000
max       999.000000
std       286.815986
========================================
Info:
<class 'pandas.core.frame.DataFrame'>
Index: 24659 entries, 0 to 26264
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      24659 non-null  datetime64[ns]
 1   client    24659 non-null  object
 2   asset     24659 non-null  object
 3   currency  24659 non-null  object
 4   quantity  24659 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.1+ MB
========================================
Null Values:
date        0
client      0
asset       0
currency    0
quantity    0
dtype: int64
========================================
Duplicacy:
0

##### <i> We have succesfully cleaned the 'holdings_with_currency.csv' </i>

#### <b><i>d) prices_with_currency.csv </i></b>

In [14]:
data_summary(asset_val, name = 'prices_with_currency.csv')

=============== DATA SUMMARY: prices_with_currency.csv ===============


Data Sample
            date     asset currency   price notes
1851  2024-02-13  Asset_15      USD  251.19   NaN
4554  2024-01-05  Asset_36      AUD   58.76   NaN
6465  2024-05-13  Asset_50      AUD  129.46   NaN
4896  2024-04-30  Asset_38      USD  223.51   NaN
4094  2024-03-29  Asset_32      GBP  134.88   NaN
========================================
Shape of DataFrame: (6630, 5)
========================================
Column Names:
['date', 'asset', 'currency', 'price', 'notes']
========================================
Data Types:
date         object
asset        object
currency     object
price       float64
notes        object
dtype: object
========================================
Summary Statistics:
              date    asset currency          price    notes
count         6630     6630     6630    6564.000000      161
unique         455      244       31            NaN        2
top     2024-04-09  Asset_5      USD            NaN  Updated
freq            51      126     3000            NaN       81
mean           NaN      NaN      NaN     645.381300      NaN
std            NaN      NaN      NaN    7611.434043      NaN
min            NaN      NaN      NaN    -292.990000      NaN
25%            NaN      NaN      NaN      90.030000      NaN
50%            NaN      NaN      NaN     142.710000      NaN
75%            NaN      NaN      NaN     233.987500      NaN
max            NaN      NaN      NaN  312930.000000      NaN
========================================
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6630 entries, 0 to 6629
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      6630 non-null   object
 1   asset     6630 non-null   object
 2   currency  6630 non-null   object
 3   price     6564 non-null   float64
 4   notes     161 non-null    object
dtypes: float64(1), object(4)
memory usage: 259.1+ KB
========================================
Null Values:
date           0
asset          0
currency       0
price         66
notes       6469
dtype: int64
========================================
Duplicacy:
126

##### <i> <b>Interpretation </b>: "prices_with_currency.csv" is not healthy enough to operate with, given:
* The present null values in price and notes
* Date is an object, instead of datetime for time series (Therefore, inconsistent formatting) 
* An extant negative price
* 31 distinct currencies instead of 8 
* 244 distinct assets instead of 50 
* Extant 126 duplicate rows 
</i>

##### Cleaning

In [15]:
# Converting dates to datetime format
asset_val['date'] = pd.to_datetime(asset_val['date'], errors='coerce', format='mixed', dayfirst=True)
asset_val = asset_val.sort_values(by='date').reset_index(drop=True)

# Removing the Negative values from price
asset_val = asset_val[asset_val['price'] > 0]

# Dropping Duplicated Rows
asset_val = asset_val.drop_duplicates()

# Stripping away trailing spaces, and making all the characters in proper formatting from 'client' column
asset_val['asset'] = asset_val['asset'].str.strip().str.title()
asset_val['currency'] = asset_val['currency'].str.strip().str.upper()

print("Number of assets:")
print(len(asset_val['asset'].unique()))
print("=="*10)
print("Number of currencies")
print(len(asset_val['currency'].unique()))

Number of assets:
50
====================
Number of currencies
8

In [16]:
data_summary(asset_val, name = 'prices_with_currency.csv (Cleaned)')

=============== DATA SUMMARY: prices_with_currency.csv (Cleaned) ===============


Data Sample
           date     asset currency   price notes
6275 2024-06-20   Asset_3      EUR  170.37   NaN
3539 2024-04-05  Asset_21      EUR  137.41   NaN
218  2024-01-05  Asset_17      CAD   97.75   NaN
4506 2024-05-02  Asset_47      CAD   53.64   NaN
4089 2024-04-22  Asset_17      CAD  127.64   NaN
========================================
Shape of DataFrame: (6382, 5)
========================================
Column Names:
['date', 'asset', 'currency', 'price', 'notes']
========================================
Data Types:
date        datetime64[ns]
asset               object
currency            object
price              float64
notes               object
dtype: object
========================================
Summary Statistics:
                                 date    asset currency          price  \
count                            6382     6382     6382    6382.000000
unique                            NaN       50        8            NaN
top                               NaN  Asset_1      USD            NaN
freq                              NaN      130     3062            NaN
mean    2024-03-31 12:28:25.797555712      NaN      NaN     659.562684
min               2024-01-01 00:00:00      NaN      NaN      25.770000
25%               2024-02-14 00:00:00      NaN      NaN      91.602500
50%               2024-04-01 00:00:00      NaN      NaN     143.750000
75%               2024-05-16 00:00:00      NaN      NaN     234.655000
max               2024-12-06 00:00:00      NaN      NaN  312930.000000
std                               NaN      NaN      NaN    7718.260366

          notes
count       151
unique        2
top     Updated
freq         78
mean        NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN
std         NaN
========================================
Info:
<class 'pandas.core.frame.DataFrame'>
Index: 6382 entries, 0 to 6629
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      6382 non-null   datetime64[ns]
 1   asset     6382 non-null   object
 2   currency  6382 non-null   object
 3   price     6382 non-null   float64
 4   notes     151 non-null    object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 299.2+ KB
========================================
Null Values:
date           0
asset          0
currency       0
price          0
notes       6231
dtype: int64
========================================
Duplicacy:
0

##### Cross-checking asset's currencies with the 'asset_currency_reference.csv' file

In [17]:
# Step 1: Merge asset_val with cur_ref on 'asset'
merged = asset_val.merge(cur_ref, on='asset', how='left', suffixes=('', '_ref'))

# Step 2: Create a mismatch flag
merged['currency_mismatch'] = merged['currency'] != merged['currency_ref']

# Step 3: Filter mismatches
mismatches = merged[merged['currency_mismatch']]

# Step 4: View results
print(f"Mismatched rows: {len(mismatches)}")
display(mismatches[['date', 'asset', 'currency', 'currency_ref']])

Mismatched rows: 0

Empty DataFrame
Columns: [date, asset, currency, currency_ref]
Index: []

##### We have succesfully cleaned 'prices_with_currency.csv'

## 3. Merging Dataset